extends layout

block content
  h1 Gestão de Barracas e Chapéus
  if dados
    .card
      .card-body
        h5=dados.name
        form(method="POST",action="/users/revoke/access/")
          input(type="hidden",id="id",name="id",value=dados.accessId)
          button.btn.btn-primary(type="submit") Logout
  else
    form.card(method="POST",action="/login")
      .card-body
        .form-group
          label(for="email") Email
          input.form-control.form-control-lg(id="email",name="email",type="email",placeholder="Email")
        .form-group
          label(for="password") Palavra-passe
          input.form-control.form-control-lg(id="password",name="password",type="password",placeholder="Palavra-passe")
        .form-group
          button.btn.btn-primary.btn-block.btn-lg(type="submit") Login
  if loggedin
    .card
      .card-title
        h2 Barracas
      .card-body
        .fila
          a.btn.btn-primary.btn-lg.tent(role="button",href="/barracas/fila/1") Fila 1
          a.btn.btn-primary.btn-lg.tent(role="button",href="/barracas/fila/2") Fila 2
          a.btn.btn-primary.btn-lg.tent(role="button",href="/barracas/fila/3") Fila 3 (Trás)
          a.btn.btn-primary.btn-lg.tent(role="button",href="/barracas/fila/4") Fila 4
          a.btn.btn-primary.btn-lg.tent(role="button",href="/barracas/fila/5") Fila 5
    .card
      .card-title
        h2 Chapéus
      .card-body  
        .fila
          a.btn.btn-primary.btn-lg.tent(role="button",href="/chapeus/fila/1") Fila 1
          a.btn.btn-primary.btn-lg.tent(role="button",href="/chapeus/fila/2") Fila 2
    .card
      .card-title    
        h2 Vista geral
      .card-body
        .fila
          a.btn.btn-primary.btn-lg.tent(role="button",href="/vista-geral") Vista Geral
    .card
      .card-title    
        h2 Relatórios
      .card-body    
        .fila
          a.btn.btn-primary.btn-lg.tent(role="button",href="/relatorios/aluguer/hoje") Alugueres Dia
          - now=new Date()
          - year=now.getFullYear()
          - month=now.getMonth()+1
          a.btn.btn-primary.btn-lg.tent(role="button",href="/relatorios/reservas/"+year+"/"+month) Reservas
    if role=="admin"
      .card
        .card-title
          h2 Administração
        .card-body
          .fila
            a.btn.btn-primary.btn-lg.tent(role="button",href="/users/manage/users") Gerir utilizadores
            a.btn.btn-primary.btn-lg.tent(role="button",href="/users/manage/accesses") Gerir acessos
          