extends layout

block content
  a(href="/admin")
    h1 Gestão de pessoas
  table.table.table-hover
    thead
      th Activo
      th ID
      th Nome
      th Permissão
      th Mudar palavra-pass
      th Revoke
    tbody
      for row in dados
        tr(accessId=row.userId)
          td
            .form-check.form-switch
              input#flexSwitchCheckDefault.form-check-input(type='checkbox', role='switch' checked=row.active disabled="true")
          td=row.userId
          td
            h5 #{row.name}
            p #{row.email}

          td=row.permission
          td
            .row
              form(method="POST",action="/users/set/password")
                input(id="id",name="id",type="hidden",value=row.userId)
                //needs double input of password
                input.form-control(id="password",name="password",type="password",value=row.userId)
                .d-grid
                  button.btn.btn-dark(type="submit") set password
            .d-grid.gap-1
              input.pass(type="hidden",value="/")
              button.copyText.btn.btn-dark(type="button") copy link
              a(href="/") link &nbsp;
          td
            form(method="POST",action="/users/set/active-state")
              input(id="id",name="id",type="hidden",value=row.userId)
              input(id="active",name="active",type="hidden",value=1)
              button.btn.btn-info(type="submit") Activate
            form(method="POST",action="/users/set/active-state")
              input(id="id",name="id",type="hidden",value=row.userId)
              input(id="active",name="active",type="hidden",value=0)
              button.btn.btn-dark(type="submit") &nbsp;Revoke&nbsp;
  form.card(method="POST",action="/users/create/user")
    .form-row.card-body
      .col
        label(for="name") Nome: &nbsp;
        input.form-control(id="name",name="name",type="text",placeholder="Nome")
      .col
        label(for="email") Email: &nbsp;
        input.form-control(id="email",name="email",type="email",placeholder="Email")
      .col
        label(for="permission") Permissão: &nbsp;
        select.form-control(id="permission",name="permission")
          option(selected) user
          option admin
          option viewer
          option manager
      .col.d-grid
        button.btn.btn-dark(type="submit") Criar novo utilizador