extends layout

block content
  a(href="/")
    h1=title
  .fila.horizontal
    a.btn(href="06")
      h4 Junho
    a.btn(href="07")
      h4 Julho
    a.btn(href="08")
      h4 Agosto
    a.btn(href="09")      
      h4 Setembro
  if (dados.rows.length>0)
    table.table.table-hover.reserves.report
      thead
        each key in Object.keys(dados.rows[0])
          if (key=="fimLong" || key == "inicioLong" || key=="id")  
            td.d-none
          else  
            td=key
      tbody
        for row in dados.rows
          tr
            for value,index in row
              if (index=="fimLong" || index == "inicioLong" || index=="id")  
                td.d-none=value
              else
                td=value
            td.editar.d-none 
              button.btn.btn-primary editar
              a.btn.btn-primary(href=`/calendar/${row.id}`) calendário
